/* SECTION FIRST */

#main1{
    width: 90%;
    text-align: center;
}

#main1 > p {
    font-weight: bold;
    color: red;
    margin-left: 80px;
}

#main1 h1{
   margin-top: 0;
   font-size: 2em;
   margin-left: 80px;
}

#blog-section {
    display: flex;
}

#blog-section > .blog {
    flex-direction: row;
    margin-top: 10px;;
    margin-left: 120px;
}

.blog > p {
  text-align: left;
  margin-bottom: 0;
  color: gray;
}

.blog > h4 {
  text-align: left;
  margin-top: 3%;
}

#btn {
    height: 40px;
    width: 130px;
    background-color: orangered;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 100px;
}

/* SECTION SECOND */

#main2{
    margin: 100px 140px 0 100px;
    width: 90%;
    text-align: center;
}

#main2 > #p1 {
    font-weight: bold;
    color: red;
    margin-right: 80px;
}

#main2 h1{
   margin-top: 0;
   font-size: 2em;
   margin-right: 80px;
}

#main2 > #p2 {
    margin-left: 150px;
    width: 70%;
    color: gray;
    margin-bottom: 50px;
    margin-right: 80px;
}

#services {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
}

.box > img {
    float: left;
    margin-right: 20px;
}

.box > h4 {
    float: left;
    margin: 0 10px 10px 0;
}

.box > p {
  text-align: left;
  margin: 10px 0 0 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#services {
    display: grid;
    grid-template-columns: 66%;
    grid-template-rows: 100px 100px;
    grid-gap: 20px;
}

} 
